
  <div class="invoice-card" (click)="viewInvoice()">
    <div class="invoice-info">
      <span class="invoice-id">#{{ invoice.invoiceId }}</span>
      <span class="invoice-date">Due {{ invoice.paymentDue | date:'dd MMM yyyy' }}</span>
      <span class="invoice-name">{{ invoice.clientName }}</span>
    </div>

    <div class="invoice-amount-status">
      <span class="invoice-amount">£{{ invoice.total}}</span>
      <span class="invoice-status paid">
        <span class="status-dot"></span>
        {{ invoice.status }}
      </span>
      <span class="invoice-arrow">&gt;</span>
    </div>
  </div>

