@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.invoice-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.05);

  .invoice-info {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;


    .invoice-id {
      color: $dark-midnight-blue;
      @include h3-font;
      span {
        color: $cool-slate;
      }
    }

    .invoice-date,
    .invoice-name {
      @include body1-font;
      color: $lavender-steel;
    }

    .invoice-name {
      color: #858BB2;
    }

    .invoice-date {
      span {
        color: $cool-slate;
      }
    }
  }

  .invoice-amount-status {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-left: 4.56rem;

    .invoice-amount {
      font-size: 1rem;
      font-weight: 700;
      color: #0f0f0f;
    }

    .invoice-status {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6.5rem;
      font-weight: 600;
      padding: 0.85rem 1rem;
      border-radius: 6px;
      font-size: 0.875rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .status-dot {
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 8px;
      }

      &.paid {
        background-color: #33d69f1a;
        color: #33d69f;
        .status-dot {
          background-color: #33d69f;
        }
      }

      &.pending {
        background-color: #FF8F001a;
        color: #FF8F00;
        .status-dot {
          background-color: #FF8F00;
        }
      }

      &.draft {
        background-color: #373B531a;
        color: #373B53;
        .status-dot {
          background-color: #373B53;
        }
      }
    }

    .invoice-arrow {
      padding-left: 1.25rem;
      span {
        font-size: 1.25rem;
        font-weight: 700;
        color: $purple;
      }
    }
  }
}
