
  <div class="invoice-card" (click)="viewInvoice()">
    <div class="invoice-info">
      <p class="invoice-id"><span>#</span>{{ invoice.invoiceId }}</p>
      <p class="invoice-date"><span>Due</span> {{ invoice.paymentDue | date:'dd MMM yyyy' }}</p>
      <p class="invoice-name">{{ invoice.clientName }}</p>
    </div>

    <div class="invoice-amount-status">
      <p class="invoice-amount">£ {{ invoice.total}}</p>
      <p class="invoice-status" [ngClass]="invoice.status.toLowerCase()">
        <span class="status-dot"></span>
        {{ invoice.status }}
      </p>
      <span class="invoice-arrow">></span>
    </div>
  </div>

