// border-radius
$extra-small: 4px;
$small: 8px;
$medium: 20px;
$large: 16px;
$large-increased: 20px;
$extra-large: 28px;

// colors
$slate-indigo: #494E6E;
$purple: #7C5DFA;
$purple-light: #9277FF;
$gunmetal-blue: #373B53;
$dark-slate-blue : #1E2139;
$charcoal-purple: #000;
$lavender-blue: #DFE3FA;
$cool-slate: #888EB0;
$lavender-steel:#7E88C3;
$dark-midnight-blue: #0C0E16;
$warning-red: #EC5757;
$pastal-red: #FF9797;
$light-bg: #F8F8FB;
$dark-navy-blue: #141625;


// font-styles
$h1-font: 2rem;
$h1-letter-spacing: -1px;
$h1-line-height: auto;
$h1-weight: bold;

$h2-font: 1.25rem;
$h2-letter-spacing: -0.63px;
$h2-line-height: 1.36rem;
$h2-weight: bold;

$h3-font: 1rem;
$h3-letter-spacing: -0.8px;
$h3-line-height: 1.5rem;
$h3-weight: bold;

$h3-s-font: 0.75rem;
$h3-s-letter-spacing: -0.25px;
$h3-s-line-height: 0.94rem;
$h3-s-weight: bold;

$body1-font: 0.75rem;
$body1-letter-spacing: -0.25px;
$body1-line-height: 0.94rem;
$body1-weight: medium;

$body2-font: 0.69rem;
$body2-letter-spacing: -0.23px;
$body2-line-height: 1.13rem;
$body2-weight: medium;