<div class="header-container">
  <div class="left-section">
    <h1>Invoices</h1>
    <p>There are <span class="highlight">7</span> total invoices</p>
  </div>

  <div class="right-section">
    <button class="filter-button">
      <span>Filter by status</span>
      <span class="arrow">&#9662;</span>
    </button>
    <button class="new-invoice-button">
      <span class="plus-icon">
        <img src="assets/icon-plus.svg" alt="Icon Plus"
      /></span>
      <span>New Invoice</span>
    </button>
    <!-- <app-button-component text="New Invoice" icon="assets/icon-plus.svg" /> -->
  </div>
</div>
