@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.app-button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2.5rem;
  @include h3-s-font;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .icon {
     background-color: white;
     padding: 0.5rem;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    //   font-weight: bold;
  }


  span {
    margin-right: 0.5rem;
  }

  &:hover {
    opacity: 0.8;
  }

}
