<div class="sidebar">
  <div class="logo-container">
    <div class="bottom-layer"></div>
    <div class="icon">
      <img src="assets/logo.svg" alt="logo" />
    </div>
  </div>

  <div class="theme-and-profile">
    <button class="theme-toggle">
      <img src="assets/icon-sun.svg" alt="sun" />
      <img src="assets/icon-moon.svg" alt="moon" />
    </button>
    <hr />
    <div class="profile">
      <div class="p-img">
        <img src="assets/image-avatar.jpg" alt="profile" />
      </div>
    </div>
  </div>
</div>
