@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.back-btn {
  background: none;
  border: none;
  color: $dark-midnight-blue;
  @include h3-font;
  cursor: pointer;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.2s;

  &:hover {
    color: $purple-light;
    text-decoration: underline;
  }

  span {
    margin-right: 1.75rem;
    color: $purple;
  }
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;

  .status {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border-radius: 8px;

    p {
      color: $cool-slate;
      @include body1-font;
    }
  }

  .status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    font-weight: 600;
    padding: 0.85rem 1rem;
    border-radius: 6px;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .status-dot {
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &.paid {
      background-color: #33d69f1a;
      color: #33d69f;
      .status-dot {
        background-color: #33d69f;
      }
    }

    &.pending {
      background-color: #FF8F001a;
      color: #FF8F00;
      .status-dot {
        background-color: #FF8F00;
      }
    }

    &.draft {
      background-color: #373B531a;
      color: #373B53;
      .status-dot {
        background-color: #373B53;
      }
    }
  }

  .status-actions {
    display: flex;
    gap: 8px;

    .action-btn {
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 24px;
      font-size: 0.8125rem;
      cursor: pointer;
      transition: background-color 0.2s;
      font-weight: 700;

      &:hover {
        opacity: 0.9;
      }

      &.edit {
        background-color: #f9fafe;
        color: $cool-slate;

        &:hover {
          background-color: #e0e0e0;
        }
      }

      &.delete {
        background-color: $warning-red;
        color: #fff;

        &:hover {
          background-color: $pastal-red;
        }
      }

      &.mark-as-paid {
        background-color: $purple;
        color: #fff;

        &:hover {
          background-color: $purple-light;
        }
      }
    }
  }
}

.invoice-container {
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.05);
  color: #333;

  .invoice-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

 .id-and-address{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


    .id {
      .invoice-id {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        color: $dark-midnight-blue;

        span {
          color: $cool-slate;
        }
      }

      .invoice-title {
        color: $lavender-steel;
        font-size: $body1-font;
        font-weight: $body1-weight;
        letter-spacing: $body1-letter-spacing;
        line-height: $body1-line-height;
        margin: 0.25rem 0 0 0;
      }
    }

    .senders-address {
      text-align: right;
      font-size: 0.8125rem;
      color: $lavender-steel;

      p {
        margin: 0.25rem 0;
      }
    }
  }

  .details-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    gap: 2rem;

    .detail-column {
      flex: 1;
    }

    .bill-to {
      flex: 1.5;
    }

    .detail-label {
      font-size: 0.75rem;
      color: $lavender-steel;
      margin-bottom: 0.75rem;
      text-transform: uppercase;
    }

    .detail-value {
      font-weight: bold;
      font-size: $h3-font;
      letter-spacing: $h3-letter-spacing;
      line-height: $h3-line-height;
      color: $dark-midnight-blue;
      margin-bottom: 1.25rem;
    }

    .address {
      margin: 0.25rem 0;
      color: $lavender-steel;
      font-size: $body1-font;
    }
  }

  .items-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
    background-color: $light-bg;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    th {
      text-align: left;
      padding: 1rem 2rem;
      border-bottom: none;
      color: $lavender-steel;
      font-weight: normal;
      font-size: 0.75rem;
    }

    td {
      padding: 1rem 2rem;
      border-bottom: 1px solid rgba(132, 137, 172, 0.1);
      font-size: 0.8125rem;

      &:last-child {
        font-weight: bold;
        color: $dark-midnight-blue;
      }
    }

    .item-name {
      font-weight: bold;
      color: $dark-midnight-blue;
    }
  }

  .total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gunmetal-blue;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0 0 8px 8px;

    .total-amount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   

      p:first-child {
        @include body1-font
      }

      .amount {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}