<button class="back-btn" (click)="goBack()"><span><</span> Go Back</button>
<div class="status-container">
  <div class="status">
    <p>Status</p>
    <div class="status-badge" [ngClass]="invoice?.status?.toLowerCase()"><span class="status-dot"></span>{{ invoice?.status }}</div>
  </div>
  <div class="status-actions">
    <button class="action-btn edit" (click)="editInvoice()">Edit</button>
    <button (click)="onDeleteClick()" class="action-btn delete">Delete</button>
    <button class="action-btn mark-as-paid" (click)="markAsPaid()">
      Mark as Paid
    </button>
  </div>
</div>

<div class="invoice-container">
  <div class="invoice-header">
    <div class="id-and-address">
      <div class="id">
        <h1 class="invoice-id">#{{ invoice?.invoiceId }}</h1>
        <p class="invoice-title">{{ invoice?.description }}</p>
      </div>

      <div class="senders-address">
        <p class="address">{{ invoice?.senderAddress?.street }}</p>
        <p class="address">{{ invoice?.senderAddress?.city }}</p>
        <p class="address">{{ invoice?.senderAddress?.postCode }}</p>
        <p class="address">{{ invoice?.senderAddress?.country }}</p>
      </div>
    </div>
  </div>

  <div class="details-container">
    <div class="detail-column">
      <div>
        <p class="detail-label">Invoice Date</p>
        <p class="detail-value">
          {{ invoice?.createdAt | date : "dd MMM yyyy" }}
        </p>
      </div>
      <div>
        <p class="detail-label">Payment Due</p>
        <p class="detail-value">
          {{ invoice?.paymentDue | date : "dd MMM yyyy" }}
        </p>
      </div>
    </div>

    <div class="bill-to">
      <p class="detail-label">Bill To</p>
      <p class="detail-value">{{ invoice?.clientName }}</p>
      <p class="address">{{ invoice?.clientAddress?.street }}</p>
      <p class="address">{{ invoice?.clientAddress?.city }}</p>
      <p class="address">{{ invoice?.clientAddress?.postCode }}</p>
      <p class="address">{{ invoice?.clientAddress?.country }}</p>
    </div>

    <div class="detail-column">
      <p class="detail-label">Sent to</p>
      <p class="detail-value">{{ invoice?.clientEmail }}</p>
    </div>
  </div>

  <table class="items-table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>QTY.</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoice?.items">
        <td class="item-name">{{ item?.name }}</td>
        <td>{{ item?.quantity }}</td>
        <td>{{ item?.price }}</td>
        <td>{{ item?.total }}</td>
      </tr>
    </tbody>
  </table>

  <div class="total-container">
    <div class="total-amount">
      <p>Amount Due</p>
      <p class="amount">£ {{ invoice?.total }}</p>
    </div>
  </div>

  <app-delete-modal-component
    *ngIf="showDeleteModal"
    [invoiceId]="invoice?.invoiceId ?? ''"
    (confirm)="confirmDelete()"
    (cancel)="cancelDelete()"
  ></app-delete-modal-component>

  <app-new-invoice-form
    *ngIf="showEditForm"
    [invoice]="invoice"
    [isEdit]="true"
    (invoiceCreated)="onInvoiceUpdated($event)"
    (close)="showEditForm = false"
  ></app-new-invoice-form>
</div>
